
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.hightlightText {
    font-family: 'Playfair Display', serif !important;
}

.eventBg {
    background-image: url("../../public/BG.png");
}

.gg {
    background-color: "#EEEDEB";
}

.shadow-chatbox {
    box-shadow: 0px 5px 5px 4px rgb(200 213 235 / 50%);
}

.footer-card-shadow {
    box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.062);
}

.shadow-chatbox-before::before {
    content: ''; /* Required for pseudo-elements */
    box-shadow: 6px 6px 6px 0px rgba(200 213 235 / 50%);
}

.card-shadow {
    box-shadow: 0px 4px 20px 2px hsl(0, 0%, 87%);
}
.shadowCareerhightlightscard {
    box-shadow: 0px 8px 20px 7px hsl(0, 0%, 87%);
}

